{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <h1>
        Wine History: Exploring Wine's History and Origins

    </h1>
    <p>
        McKenzie Hagan | October 13, 2020

        Whether or not you're a history buff, you must admit there's something special about knowing the story behind
        what you eat, drink, wear, and use — and that includes wine. Thinking about how it all began can spur your
        imagination and help put things in perspective. Making the connection from the world's very first wine grape to
        your latest bottle of wine adds more dimension to the experience, and gives you a deeper appreciation and sense
        of enjoyment.
    <br><br>
        With that in mind, join us as we take a walk through the history of wine, including where it originated (hint:
        it's not France) and how various cultures have produced and used it over the years.
    <br><br>
        When and Where Did Winemaking Begin?
        There's no doubt that France, Italy, and Spain are synonymous with winemaking and wine culture. But arguably
        it's France that lays claim to the world's most famed wine appellations (a.k.a. wine regions), including
        Bordeaux — the "wine capital of the world." France is also home to the most popular varietals and wines on the
        planet — think Cabernet Sauvignon, Merlot, Chardonnay, Champagne, Pinot Noir, and Sauvignon Blanc.
    <br><br>
        However, the history of wine doesn't begin with French wine (or Italian or Spanish wine). Archaeological records
        indicate that wine was first produced in China around 7000 B.C., followed by Armenia and Georgia, around 6100 to
        6000 B.C., respectively.
    <br><br>
        In fact, researchers discovered the world's oldest winery (and world's oldest shoe!) in Armenia. There is also
        evidence of early winemaking in ancient Iran, Egypt, Israel, Greece, Cypress, and Sicily. Clearly, there's much
        more to wine than you may have thought.
    <br><br>
        Ancient World Wine vs. Old World Wine vs. New World Wine
        history of wine: woman reaching a wine glass
        When discussing the history of wine, it's helpful to understand a few phrases — specifically, "Ancient World"
        wines, "Old World" wines, and "New World" wines. More than anything, these wine terms refer to geography.
<br><br>
        Ancient World Wine
        As mentioned, today's most well-known wine regions are not where wine originated. These ancient wine areas —
        including China, Armenia, Iran, and Egypt — are where the world's first winemakers developed techniques for
        fermenting grape juice into alcohol.
<br><br>
        Old World Wine
        Old World wine comes from traditional wine regions across Europe, the Mediterranean, and Middle East, which is
        where viniculture (wine growing) really took off and developed. Old World wine production uses a common
        grapevine, known as Vitis vinifera. This grape is native to the Mediterranean region.
<br><br>
        New World Wine
        New World wine comes from just about any other region that isn't considered ancient or old. For instance,
        Australia, New Zealand, Argentina, Chile, South Africa, and Canada are New World wine regions. Of course,
        there's also the United States, with California, Oregon, and Washington being the most-well known wine-producing
        states.
<br><br>
        Old World wine production also uses the Vitis vinifera wine grape, but different adaptations have been made to
        help it grow successfully in these varying climates.
<br><br>
<br>
        History of Wine Timeline
        Whether it was thousands of years ago or just a few days ago, the history of any type of wine begins its journey
        with the grapes being harvested, pressed, and fermented. The fermentation process is the most crucial part, as
        this is what turns pressed grapes (or grape juice) into wine.
<br><br>
        Because there’s such a rich history of wine, there's no way we could detail every single location, discovery, or
        development. But we can share some of the greatest hits. Here's a quick breakdown of wine's worldwide travels
        and how various cultures have produced and consumed it over the centuries.
<br><br>
        7000 B.C.
        According to Dr. Patrick McGovern, the foremost wine scientist and anthropologist, the world's first chemically
        confirmed alcoholic beverage — including wine — was discovered at Jiahu in the Henan province of China.
<br><br>
        Clay jars from this Early Neolithic Period were used to create and store a fermented drink made of wild grapes
        (including Vitis amurensis and Vitis thunbergii grape varieties), rice, honey, and hawthorn fruit. McGovern and
        his colleagues concluded that storing sugary fruit with yeast on its skins inside these vessels shows how the
        liquid was fermented.
<br><br>
        It hasn't been confirmed whether the grapes were used by themselves or in combination with other fruit. Whatever
        the case, evidence suggests that these alcoholic beverages were used in burial and religious ceremonies.
<br><br>
        6100 B.C.
        In 2016, a group of researchers uncovered the oldest winery in the world in a cave, located in the mountains of
        Armenia. Among the discoveries in this cave was a drinking bowl and cup, grape press, and fermentation jars. It
        was also determined that the wine grapes used were Vitis vinifera, the same used in most wine today. As such,
        researchers deduce that the final product would probably be similar to an unfiltered red wine that tastes like
        Merlot.
<br><br>
        While wine drinking started in China, this discovery is the earliest example of complete wine production.
        Experts say that the wine from Armenia was likely used for burial ceremonies, since that particular cave was
        once a significant cemetery site.
<br><br>
        3100 B.C.
        Ancient Egypt began making an early version of wine from red grapes. This ancient wine was stored in amphoras,
        which are clay jars with a narrow neck and two handles.
<br><br>
        Although modern-day Egypt has very little wine production, its history is steeped in winemaking (and wine
        drinking). Scenes etched on ancient tomb walls show people harvesting grapes from the vine, squashing them, and
        placing them in amphoras to ferment.
<br><br>
        Because red wine resembled blood, ancient Egyptians had many superstitions about its power, including its link
        to the blood of Osiris, the god of resurrection. Archaeological findings show that ancient wine was used in
        various ceremonies (including burials) as well as for medicinal purposes.
<br><br>
        Although red wine was the most common type of wine produced in this region, amphoras discovered in Tutankhamun's
        tomb show the first evidence of white wine in Egypt.
<br><br>
        1200 B.C.-539 B.C.
        The Phoenicians are responsible for starting the wine trade, moving this increasingly popular beverage (and even
        grapevines themselves) across the Mediterranean, including Greece, Italy, and areas across modern-day Turkey,
        Lebanon, Israel, and Syria.
<br><br>
        During their travels, the Phoenicians came into contact with Jewish people, who began using wine as part of
        religious ceremonies. In the Bible, the first mention of wine appears in the book of Genesis, when Noah drinks
        it after the Great Flood.
<br><br>
        800 B.C.
        Thanks to the Phoenicians, the ancient Greeks began drinking wine and using it as a symbol for religion, trade,
        and health. Wine was so beloved in Ancient Greece that they even named a god after it: Dionysus. Wicker baskets
        were filled with harvested grapes, then crushed before placing them in pithoi — large earthenware jars similar
        to the Egyptian amphoras. These jars are where fermentation took place.
<br><br>
        As the Greek city-states began to spread throughout the Mediterranean, so too did wine production. Like the
        Phoenicians, Greeks would transport grapevines. They introduced the Vitis vinifera wine grape to new colonized
        areas, including Sicily, before eventually making their way to Rome.
<br><br>
        200 B.C.-100 B.C.
        Woman holding a Usual Wines bottle over a table
<br><br>
        Mimicking the Greeks, the Romans created their own god of wine: Bacchus. (It's where we get the word
        "bacchanalian," meaning drunken revelry.)
<br><br>
        The Romans fine-tuned the Greek's process of viniculture, using barrels and other techniques that helped them
        produce more at a quicker pace and lower cost. For example, Roman wine production included using a torculum
        (wine press) to crush the grapes and separating the grape juice from the skins with a colander-like object. The
        juice was sometimes boiled before fermenting in amphoras that were buried in the sand, dirt, or even water.
<br><br>
        Wine was part of daily life for Romans, so unlike the pharaohs of Egypt, this "drink of the gods" was easily
        accessible for rich and poor alike. That said, a wide variety of lower-quality wines were what the masses drank
        — mustum (mixed with vinegar), mulsum (sweetened with honey), and lora (bitter wine made from leftover grape
        components after pressing), to name a few.
<br><br>
        As the Roman empire grew across Europe, they planted grapevines in European countries including modern-day
        France, Italy, Spain, Germany, and Portugal.
<br><br>
        A.D. 306-380
        Beginning with the reign of Constantine the Great (A.D. 306-337), the Catholic Church and Christianity became
        the primary religious force in the Roman Empire. And with it, wine took a prominent place in religious rituals,
        specifically during the sacrament of Eucharist (also known as communion). In Catholic mass, this custom
        commemorates the last supper of Jesus Christ and his apostles, with the wine symbolizing the blood of Jesus.
<br><br>
        The practice of using wine — or at least the symbolism of wine — is still very much a part of many churches
        across the Christian faith. (Although grape juice is a common substitute.) It's yet another example of the
        enduring influence that wine has had on humankind not only for social pleasure, but for spiritual practice.
<br><br>
        1492-1600s
        We all know the familiar refrain: "In 1492, Columbus sailed the ocean blue." When Christopher Columbus first set
        sail from Spain on one of four expeditions, he and his crew stumbled upon the Americas. While his "discovery" of
        the New World was anything but, it did mark the beginning of a new era of exploration (and colonization) of
        North and South America.
<br><br>
        In the 16th century, transatlantic trips saw Spanish conquistadors invading Mexico and Brazil, bringing with
        them European grape cultivation. During this time, wine production spread widely across South America.
<br><br>
        Spanish missionaries established the first winery in Chile (not surprising since wine was a mainstay of the
        Catholic Church by then). These missionaries also traveled to Argentina where they settled in the Mendoza wine
        region and planted the region’s first wine varietals.
<br><br>
        1769-1830s
        In the late 18th century, Spanish missionary Junipero Serra traveled to San Diego, California, where he
        established the state's first mission and first known vineyard. As the friar and his fellow monks developed
        missions up and down the state, they continued to plant the Mission grape, a varietal of Vitis vinifera from
        Spain.
<br><br>
        Four types of wine were made from this grape: a sweet white wine that fermented the juice without the skins; a
        dry and sweet red wine made by fermenting the juice with the skins on; and a sweet fortified wine.
<br><br>
        The Spanish colonizers established Sonoma’s first winery in 1805 and the Mission grape was the only varietal
        grown in California until the 1830s. After that, other European settlers in Los Angeles added several European
        grape varieties to their vineyards.
<br><br>
        1830s
        In the early 19th century, Scottish-born, British-raised, and Australian-based viticulturist and writer James
        Busby triggered the dawn of a new era for wine growing in the geographic region of Oceania. After much research
        and cross-continental travel between Australia and Europe, he took grapevine cuttings from Europe and planted
        vineyards in Australia.
<br><br>
        Eventually, he took some of these cuttings from Australia to New Zealand, and in 1836, he established New
        Zealand’s first vineyard. Nearly 200 years later, descendants of his original cuttings are still thriving in
        vineyards throughout Australia and New Zealand. It's no wonder he's considered the father of the Australian wine
        industry.
<br><br>
        1980s to Today
        In a full circle moment, we'll conclude our walk through the history of wine back where we started: in China. As
        the Chinese economy started to boom in the late 1980s, the nation grew into one of the world's largest consumers
        and producers of wine. While rice wine remains the most popular alcoholic beverage in the country — harkening
        back to its ancient roots — grape wine has grown in status and preference.
<br><br>
        However, overall wine production in China has dropped significantly in recent years. There's no clear reason why
        this is happening, but some experts suggest the downturn might be due to unfavorable growing conditions, waning
        interest in locally produced wine, and the influx of imports from better-known wine regions.
<br><br>
        No matter how this story continues, it's clear that wine is here to stay. In fact, the only continent on the
        planet where vineyards do not exist is Antarctica.
<br><br>
        Your Wine Has a Story
        Knowing how various cultures have produced and used wine over the years can enhance your wine drinking
        experience. From the first winery hidden in Armenia to the Phoenicians’ worldwide influence of winemaking to the
        social and spiritual aspects of wine in Greco-Roman culture and beyond, wine is much more than just fermented
        grapes in a glass. It's a lesson in history that you can savor every time you take a sip.
    <br><br>
    </p>
{% endblock %}